<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
  <add key="Mode" value="File"/> <!--put in your condition here-->
  <add key="Products" value="DataFiles\Products\"/>
  <add key="Orders" value="DataFiles\Orders\"/>
  <add key="States" value="DataFiles\States\"/>
</appSettings>
</configuration>